

.RoomTemperature {
    padding: 15px;
    background-color: #f6f1f1;
    border-color: #808080;
    border-width: 3px;
    border-style: solid;
    width: 300px;
    height: 100px;
    margin: 30px;
    box-shadow: 4px 4px;
    display: inline-block;
}

.CurrentDateTime {
    padding: 15px;
    background-color: #f6f1f1;
    background-image: url("Pages/background.jpg");
    border-color: #808080;
    border-width: 3px;
    border-style: solid;
    width: 300px;
    height: 100px;
    margin: 30px;
    box-shadow: 4px 4px;
    display: inline-block;
}




body {
    margin-bottom: 60px;
    background: #856e6eff;
}
